name: NPM publish initia-registry

on:
  push:
    branches: ["main"]
    paths:
      - _packages/initia-registry/package.json

jobs:
  publish_types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
        working-directory: ./_packages/initia-registry
      - run: npm run build
        working-directory: ./_packages/initia-registry
      - run: npm publish
        working-directory: ./_packages/initia-registry
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
