on: [pull_request, workflow_dispatch]
name: PR workflow
jobs:
  validate_errorjson:
    name: Validate edited error json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install JSON-Schema-Validator
        run: npm install -g jsonschema

      - name: Validate error json schema
        run: |
          for file in $(find ./errors -name '*.json' 2>/dev/null || true); do
            if ! jsonschema -i "$file" ./error.schema.json; then
              exit 1
            fi
          done
